<nav class="navBar">
  <ul>
    <a href="/" class="navLink">Home</a>
    <a href="/login" class="navLink">Login</a>
    <a href="/logout" class="navLink">Logout</a>
    <a href="/profile" class="navLink">Profile</a>
    <a href="/register" class="navLink">Register</a>
  </ul>
</nav>
