<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backend auth</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Here we go</h1>

    <div>

    </div>
    {{/each}}
  </body>
</html>
